<!DOCTYPE html>
<html> 
<head>
<title>OSRS Tracker</title>

<!-- bootstrap js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src = "/bootstrap.js"> </script>
<!-- bootstrap css -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel = "stylesheet" href = "/bootstrap.css">

<!-- enable popovers -->
<script>
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<!-- chart.js -->
<script src="/Chart.js"></script>
<link rel = "stylesheet" href = "/Chart.css">

<link rel = "stylesheet" href = "/app.css">

</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="/">OSRS Tracker</a>
	  <form action = "/item/search" method = "POST" class="form-inline">
			<input class = "form-control mr-sm-2" id = "searchbox" type = "search" name = "searchQuery" placeholder= "search for item..." minlength="3"required>
			<button class = "btn btn-outline-dark my-2 my-sm-0" type="submit">
				<i class="fa fa-search"></i>
			</button>
		</form>
  	<div>
	    <span class="navbar-text">
	    	<% if (user){ %>
				<form action = "/logout" method = POST>
					<button class = "btn btn-light" type = "submit"> Logout </button>
				</form>
				<% } else {%>
				<a class ="nav-link" href = "/login" style = "height: 38px" > Login </a>
			<% }%>
	    </span>
	</div>
	</nav>
	<nav class="navbar">
		<a> </a>
		<a id = "allitemlink" class = "position-relative" href = "/item/sort?sortby%5B0%5D=sortByNone&weight%5B0%5D=50&filterByPosition=on&position=500&trendType=none"> browse / sort / filter all items</a>
		<a> </a>
	</nav>

