<% include ./partials/header.ejs %>

<div class = "container">
	<h1> either there was an error with the database or the page doesnt exist </h1>
	<h2> sorry! :( </h2>
</div>


<% include ./partials/footer.ejs %>