<% include ./partials/header.ejs %>

<div class = "container">
	<p class = "text-center font-weight-bold"> login </p>
	<% if (message !== null) {%>
	<p class = "text-danger"><%=message%></p>
	<% }%>
	<form action = "/login" method = "POST">
		<h4>username</h4>
		<input name = "username" type = "text" required>
		<h4>password</h4>
		<input name = "password" type = "password" required>
		<button class = "my-3 d-block" type = "submit"> login </button>
	</form>
	<h4> new user? <a href = "/register">register!</a></h4>
</div>


<% include ./partials/footer.ejs %>