td
{
	border : black solid 2px;
}

body {
	position : relative;
}

.pointerpass
{
	pointer-events: none;
}

.mainfeature
{
	/*#eeebe4 light nav + wrap evreything in light boxes, background navy*/
	/*background-color: #1c2a37;*/
	/*box-shadow: 0 15px 6px -6px #888888;
	z-index : 0;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;*/
	background-color: #eeebe4;
}

.featureimage
{
	box-shadow: 0 15px 6px -6px #888888;
	width: 100%;
	opacity : .5;
}

.item
{
	transition-delay : .5s;
}

.itemtab
{
	position: absolute;
	top : 300px;
	left : 500px;
	width : 400px;
	background-color: gray;
}

.progress-bar
{
	width: 50%;
}

.progress
{
	z-index : 0;
}

.weightrange
{
	width: 100%;
	opacity: 0;
}

/*******************************************************************
courtesy of https://www.w3schools.com/howto/howto_css_flip_card.asp
*******************************************************************/
.flip-card {
  width: 100%;
   /* Remove this if you don't want the 3D effect */
}



#iconcontainer {
  width: 100%;
  padding-right: 35%;
  padding-left: 35%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
}

.listgroupitem
.iconfeature
{
	transition: box-shadow .3s ease-in-out;
}

.iconfeature:hover
{
	box-shadow: 0 6px 2px -2px rgba(0,0,0,0.5);
}

.shadow-bottom
{
	box-shadow: 0 6px 2px -2px rgba(0,0,0,0.5);
}

.navbar-light
{
	background-color: #eeebe4;	
}

#searchbox
{
	width : 77%;
}

#sortform 
{
	height : 100%;
}
#daterange
{
	width : 90%;
}

#daterangeindicator
{
	border-radius: 5px;
	width: 100%;
	border : none;
}

#filterform
{
	background-color : lightgray;
}

#filteroptions
{
	
	
}

#message
{
	border-radius: 25px;
}

#sorted
{
	background-color: #eeebe4;
}

#results
{
	background-color: #eeebe4;
}

#login
{
	background-color: #eeebe4;
}

#register
{
	background-color: #eeebe4;
}

#itemdata
{
	background-color: #eeebe4;
}

.list-group-item
{
	background-color: #eeebe4;
	font-size : 12px;
	padding-left: 0px;
	padding-right: 0px;
}

.label
{
	font-weight : 800;
}

.profits
{
	background-color: #eeebe4;
}

.losses
{
	background-color: #eeebe4;
}

















#allitemlink 
{
	font-size : 10px;
	top : -20px;
}

#footer {
	height: 120px;
	position: absolute;
	bottom: 0px;
}

a:-webkit-any-link{
text-decoration:none !important;
}

.carousel-indicators li {
	background-color: #6c757d;
	opacity: .2;
	height: 4px;
}

.carousel {
	height: 250px;	
}

.carousel-inner {
	padding-left: 20px;
	padding-right: 20px;
}

.carousel-control-next {
	width: 20px;
	opacity: 1 !important;
	background-color: white;
}

.carousel-control-prev {
	width: 20px;
	opacity: 1 !important;
	background-color: white;
}

.deleteitem {
	right: 5px;
	top: 5px;
	position: absolute;
}

#carouselTopPriceIncrease ol {
	bottom : 25px;
}

#carouselTopPriceDecrease ol {
	bottom : 25px;
}

#investmentContainer {
	margin-top: 1rem !important;
}

#optionContainer {
	margin-top: 1rem !important;
}